* {
    margin: 0;
    padding: 0;
}
body {
    background: #2980B9;
    color: #FFFFFF;
    font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
}
.dtree {
/*    margin: 15px 30px*/
}
li {
    list-style: none;
    font-size: 0.8rem;
}
a {
    color: #FFF;
    background: #2980B9;
    text-decoration: none;
    display: block;
    padding: 12px 0 12px 40px;
    font-weight: 100;
}
a:hover {
    color: #2980B9;
    background: #FFF;
    transition: all 0.3s ease-out;
}
.last{
    border: 0px;
}
li.dtreeNode {
    color: #F5F5F5;
    font-size: 1.1rem;
    font-weight: 200;
    padding: 10px;
    background: #0E90D2;
;
}